/* using pale yellow to match book/bee theme*/

.home-container {
  /* Set up styles for the container */
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fffdef; /* Pale yellow background color */
}

.book-list {
  /* Set up styles for the book list */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.book-item {
  /* Set up styles for each book item */
  background-color: #f9f9f9; /* Light gray background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-item h3 {
  /* Set up styles for the book title */
  margin: 0;
  font-size: 18px;
  color: #333;
}

.book-item p {
  /* Set up styles for book details */
  margin: 10px 0;
  font-size: 14px;
  color: #777;
}



